In [1]:
import numpy as np
import pandas as pd

### Import dataset

In [2]:
df_raw = pd.read_csv('../Data/Groceries_dataset.csv')
df_raw.head(5)

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

### Pre-processing

In [3]:
print(df_raw.shape)
print(df_raw.isnull().sum())

df = df_raw.copy()

(38765, 3)
Member_number      0
Date               0
itemDescription    0
dtype: int64

#### Encode item description column

In [4]:
df_encoded = pd.get_dummies(df['itemDescription'])

### Setup

In [5]:
from pycaret.arules import *
exp_ar = setup(df, transaction_id='Member_number', item_id='itemDescription')

### Create model and get rules

In [6]:
model1 = create_model()

/home/shernee/.virtualenvs/ds38/lib/python3.8/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [7]:
model1.shape

(30, 9)

In [8]:
model1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(other vegetables, bottled water)",(whole milk),0.0939,0.4582,0.0562,0.5984,1.3059,0.0132,1.3490
1,"(other vegetables, yogurt)",(whole milk),0.1203,0.4582,0.0718,0.5970,1.3030,0.0167,1.3445
2,"(yogurt, rolls/buns)",(whole milk),0.1113,0.4582,0.0659,0.5922,1.2924,0.0149,1.3285
3,"(other vegetables, rolls/buns)",(whole milk),0.1467,0.4582,0.0821,0.5594,1.2210,0.0149,1.2298
4,"(soda, yogurt)",(whole milk),0.0975,0.4582,0.0544,0.5579,1.2176,0.0097,1.2255
5,"(other vegetables, soda)",(whole milk),0.1242,0.4582,0.0693,0.5579,1.2175,0.0124,1.2254
6,"(tropical fruit, other vegetables)",(whole milk),0.0913,0.4582,0.0505,0.5534,1.2077,0.0087,1.2131
7,"(soda, rolls/buns)",(whole milk),0.1198,0.4582,0.0652,0.5439,1.1871,0.0103,1.1879
8,(shopping bags),(whole milk),0.1683,0.4582,0.0913,0.5427,1.1844,0.0142,1.1848
9,"(other vegetables, sausage)",(whole milk),0.0929,0.4582,0.0503,0.5414,1.1817,0.0077,1.1816
10,(bottled beer),(whole milk),0.1588,0.4582,0.0854,0.5380,1.1741,0.0127,1.1727
11,(frozen vegetables),(whole milk),0.1026,0.4582,0.0552,0.5375,1.1731,0.0081,1.1715
12,(beef),(whole milk),0.1195,0.4582,0.0641,0.5365,1.1709,0.0094,1.1689
13,(yogurt),(whole milk),0.2830,0.4582,0.1506,0.5322,1.1615,0.0209,1.1582
14,(canned beer),(whole milk),0.1652,0.4582,0.0872,0.5280,1.1523,0.0115,1.1478
15,(domestic eggs),(whole milk),0.1331,0.4582,0.0703,0.5279,1.1522,0.0093,1.1478
16,(curd),(whole milk),0.1208,0.4582,0.0636,0.5265,1.1492,0.0083,1.1444
17,(bottled water),(whole milk),0.2137,0.4582,0.1124,0.5258,1.1476,0.0145,1.1426
18,(butter),(whole milk),0.1265,0.4582,0.0662,0.5233,1.1422,0.0082,1.1367
19,(sausage),(whole milk),0.2060,0.4582,0.1070,0.5193,1.1334,0.0126,1.1271
20,(newspapers),(whole milk),0.1398,0.4582,0.0723,0.5174,1.1293,0.0083,1.1228
21,(whipped/sour cream),(whole milk),0.1547,0.4582,0.0798,0.5158,1.1257,0.0089,1.1189
22,(brown bread),(whole milk),0.1360,0.4582,0.0698,0.5132,1.1201,0.0075,1.1130
23,(pastry),(whole milk),0.1775,0.4582,0.0911,0.5130,1.1197,0.0097,1.1126
24,(rolls/buns),(whole milk),0.3497,0.4582,0.1786,0.5106,1.1145,0.0183,1.1072
25,(pip fruit),(whole milk),0.1706,0.4582,0.0870,0.5098,1.1126,0.0088,1.1052
26,(margarine),(whole milk),0.1170,0.4582,0.0595,0.5088,1.1104,0.0059,1.1030
27,(other vegetables),(whole milk),0.3766,0.4582,0.1914,0.5082,1.1091,0.0188,1.1016
28,(pork),(whole milk),0.1324,0.4582,0.0670,0.5058,1.1040,0.0063,1.0964
29,"(whole milk, bottled water)",(other vegetables),0.1124,0.3766,0.0562,0.5000,1.3277,0.0139,1.2468

Import second dataset

In [10]:
df_raw = pd.read_csv('./data/basket_analysis.csv')
df_raw.drop('Unnamed: 0', axis=1, inplace=True)
df_raw.head(5)

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### Put together encoded items

In [11]:

def item(row):
    items = []
    for c in df_raw.columns:
        if row[c] == True:
            items.append(c)
    return items

df_raw['items'] = df_raw.apply(item, axis=1)
df_new = df_raw[['items']]
df_new.head()

                                               items
0  [Bread, Corn, Dill, Ice cream, Sugar, Yogurt, ...
1                                             [Milk]
2  [Apple, Butter, Dill, Ice cream, Milk, Yogurt,...
3        [Butter, Cheese, Dill, Milk, Nutmeg, Onion]
4                                     [Apple, Bread]

In [12]:
df_exploded = df_new['items'].explode()
df = pd.DataFrame(df_exploded)
df.reset_index(inplace=True)
df = df.rename(columns={'index': 'Id'})
df.head()

   Id      items
0   0      Bread
1   0       Corn
2   0       Dill
3   0  Ice cream
4   0      Sugar

### Setup 2

In [13]:
from pycaret.arules import *
exp_ar = setup(df, transaction_id='Id', item_id='items')

### Create models and show rules

In [14]:
model2 = create_model()

In [15]:
model2.shape

(1494, 9)

In [16]:
model2.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Dill, Milk, Unicorn)",(chocolate),0.0911,0.4214,0.0621,0.6813,1.6167,0.0237,1.8155
1,"(Sugar, Cheese, Unicorn)",(Kidney Beans),0.0811,0.4084,0.0541,0.6667,1.6324,0.0209,1.7748
2,"(Cheese, Ice cream, Yogurt)",(Kidney Beans),0.0871,0.4084,0.0571,0.6552,1.6042,0.0215,1.7156
3,"(Cheese, Dill, Milk)",(chocolate),0.0841,0.4214,0.0551,0.6548,1.5537,0.0196,1.6759
4,"(Apple, Corn, Onion)",(Sugar),0.0831,0.4094,0.0541,0.6506,1.5891,0.0200,1.6903
5,"(Nutmeg, Milk, Corn)",(Kidney Beans),0.0851,0.4084,0.0551,0.6471,1.5843,0.0203,1.6762
6,"(Dill, Kidney Beans, Onion)",(Cheese),0.0851,0.4044,0.0551,0.6471,1.6000,0.0206,1.6875
7,"(Cheese, Dill, Unicorn)",(chocolate),0.0821,0.4214,0.0531,0.6463,1.5337,0.0185,1.6360
8,"(Butter, Dill, Unicorn)",(chocolate),0.0791,0.4214,0.0511,0.6456,1.5319,0.0177,1.6324
9,"(Dill, Unicorn, Onion)",(chocolate),0.0931,0.4214,0.0601,0.6452,1.5309,0.0208,1.6305